body {
    margin: 0;
    padding: 0;

    color: white;
    background-color: black;

    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(25 25 25);
    border-bottom: 1px solid #666666;
}

.nav a, .back a {
    background-color: rgb(50 50 50);
    padding: 6px;
    border: 1px #888888 solid;
    border-radius: 4px;
    text-decoration: none;
    color: white;
}

.title {
    background-color: rgb(25 25 25);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#title-img {
    width: 50vw;
    border: none;
}

#quote-images-title {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

a:hover {
    background-color: rgb(80 80 80);
}

h3 {
    text-decoration: underline;
    padding-left: 50px;
    padding-bottom: 25px;
}

img {
    border: 1px solid white;
    margin: 1px 1px;
}

footer {
    text-align: center;
}

hr {
    margin-top: 30px;
}

/*************************************/

.books, .shirts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.book-infobox {
    border: 1px solid white;
    display: flex;
}

.book-img, .shirt-img, #mw {
    width: 20vw;
}

#buy-a-shirt, #discord, #readling-list {
    text-decoration: none;
    padding: 0;
    text-align: center;
}

#mw {
    border: none;
}

.qotd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
}

.qotd-title {
    padding: 0px;
}

#qotd-img {
    width: 65vw;
    height: 100%;
}

.img-link:hover {
    /*i hate css so fkn much*/
    background-color: black;
}

.img-link:hover img {
    opacity: 75%;
}

.back {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    z-index: 5;
}

.sticky-back {
    position: sticky;
    top: 0;
    z-index: 1;
}

/*************************************/

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px
}

.footer-links a {
    align-self: center;
}

.social-btn img {
    width: 30px;
    border: none;
}

#copyright {
    font-style: italic;
}

/*************************************/
/*
.quote-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-images .img-link img {
    width: 75vw;
    height: 100%;
}
*/
.quote-images-double {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin-bottom: 40px;
}

.quote-images-double .img-link img {
    width: 40vw;
    height: 100%;
}

/*************************************/

@media only screen and (max-width: 650px) {
    a, p {
        font-size: .5rem;
    }

    .footer-links a img {
        width: 15px;
    }

    h3 {
        font-size: .7rem;
    }
}

/*
@media only screen and (min-width: 1200px) {
    .quote-images .img-link img {
        width: 45vw;
        height: 100%;
    }
}*/
